/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* ----------- iPhone 6, 6S, 7 and 8 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* ----------- iPhone 6+, 7+ and 8+ ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* ----------- iPhone X ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* ----------- Galaxy S3 ----------- */


/* Portrait and Landscape */

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
     .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}







/* Portrait */

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}







/* Landscape */

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}







/* ----------- Galaxy S4, S5 and Note 3 ----------- */


/* Portrait and Landscape */

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}







/* Portrait */

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}







/* Landscape */

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}







/* ----------- Galaxy S6 ----------- */


/* Portrait and Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}







/* Portrait */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}







/* Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
    .insertQuestionBtnFocus.active {
        display: none;
    }
    .insertQuestionFocusWrapper.active {
        width: 100vw;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
        position: absolute;
        margin-top: 0px !important;
    }
    .insertQuestionFocusWrapper>*+* {
        margin-bottom: 0px;
    }
    .inputQuestionWrapperFocus {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .questionAnswerWrapperFocus {
        width: 100%;
        height: calc(100% - 48px);
    }
    .questionAnswerContainerFocus {
        height: calc(100% - 48px);
    }
    .insertQuestionHeaderFocus {
        cursor: default;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .insertQuestionHeaderFocusCloseBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}








/* ----------- iPad 1, 2, Mini and Air ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* ----------- iPad 3, 4 and Pro 9.7" ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* ----------- iPad Pro 10.5" ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Portrait */


/* Declare the same value for min- and max-width to avoid colliding with desktops */


/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/

@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Landscape */


/* Declare the same value for min- and max-width to avoid colliding with desktops */


/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/

@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* ----------- iPad Pro 12.9" ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Portrait */


/* Declare the same value for min- and max-width to avoid colliding with desktops */


/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Landscape */


/* Declare the same value for min- and max-width to avoid colliding with desktops */


/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* ----------- Galaxy Tab 2 ----------- */


/* Portrait and Landscape */

@media (min-device-width: 800px) and (max-device-width: 1280px) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Portrait */

@media (max-device-width: 800px) and (orientation: portrait) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Landscape */

@media (max-device-width: 1280px) and (orientation: landscape) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* ----------- Galaxy Tab S ----------- */


/* Portrait and Landscape */

@media (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Portrait */

@media (max-device-width: 800px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}







/* Landscape */

@media (max-device-width: 1280px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .videoBottomBtnContainer {
        display: none;
    }
    .videoTopBtnContainer {
        display: none;
    }
    .videoDurationWrapper {
        display: none;
    }
    .onVideoScreenLogoContainer {
        display: none;
    }
    .onVideoScreenPlayStatus {
        display: none;
    }
}